h1{
    color:  rgb(107, 61, 89);
}

button{
    font-size:small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(216, 195, 208);
    border: 1.5px solid #ba1385;
    border-radius: 15px;
}