h1 {
  display: none;
}

h2 {
  color:
    rgb(151, 29, 108);
}

.ny {
  color: rgb(220, 5, 145);
  ;
}

button{
    font-size:small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(216, 185, 204);
    border: 1.5px solid #ba1385;
    border-radius: 15px;
}

.columnas {
  display: flex;
  justify-content: space-between;
}

.tarjeta {
  flex: 1;
  max-width: 9000px;
}
