
.contenedor {
 display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.columna.izquierda,
.columna.derecha {
  display: flex;
  flex-direction: column;
  gap: 20px;      
  }

.columna.izquierda img {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.columna.derecha {
  flex: 1; /* ocupa el resto del espacio */
  width: 90%
}


.Elenco{
    text-align: center;   /* centra el título */
  margin-bottom: 20px;  /* espacio entre el título y las columnas */
}

.Actores {
    
    color: rgb(163, 90, 144);
    text-align: center;   /* centra el título */
  margin-bottom: 20px;  /* espacio entre el título y las columnas */
}


.Actores_secundarios {
    color: rgb(107, 36, 88);
    text-align: center;   /* centra el título */
  margin-bottom: 20px;  /* espacio entre el título y las columnas */
}
