.Elenco{
    text-align: center;   /* centra el título */
  margin-bottom: 20px;  /* espacio entre el título y las columnas */
}
.Actores {
    
    color: rgb(163, 90, 144);
    text-align: center;   /* centra el título */
  margin-bottom: 20px;  /* espacio entre el título y las columnas */
}

.Actores_secundarios {
    color: rgb(107, 36, 88);
    text-align: center;   /* centra el título */
  margin-bottom: 20px;  /* espacio entre el título y las columnas */
}

.tarjeta {
  display: flex;           /* coloca los elementos uno al lado del otro */
  align-items: center;     /* centra verticalmente */
  gap: 20px;               /* espacio entre columnas */
  max-width: 900px;
  margin: 0 auto;          /* centra el contenedor en la página */
}



.columna-izquierda img {
  width: 100%;
  max-width: 300px;        /* tamaño máximo de la imagen */
  border-radius: 10px;     /* bordes redondeados opcional */
}

.columna-derecha {
  flex: 1;                 /* ocupa el espacio restante */
}