
.contenedor {
 display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.columna.izquierda,
.columna.derecha {
  display: flex;
  flex-direction: column;
  gap: 20px;      
  }

.columna.izquierda img {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
 
}

.columna.derecha {
  flex: 1; /* ocupa el resto del espacio */
  text-align: center;

}

.Actores {
    
    color: rgb(163, 90, 144);
  
}


.Actores_secundarios {
    color: rgb(107, 36, 88);
    
}
