h1 {
    display: none;
}

h2 {
    color:
        rgb(151, 29, 108);
}

fieldset {
    display: flex;
    flex-direction: column;
}

form {
    width: 30%;
    margin: auto;
}

nav{
    color:rgb(228, 215, 223);


}

section
{
    a{
         color: rgb(107, 61, 89);
    }
     }


button{
    font-size:large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(107, 61, 89);
    background-color: rgb(216, 195, 208);
    border: 1.5px solid #ba1385;
    border-radius: 15px;
}