h1 {
    display: none;
}

h2 {
    color:
        rgb(151, 29, 108);
}

.columnas {
   display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px; 
  justify-items: center; 
  align-items: start; 
  
}

.tarjeta {
    border: 1px solid rgb(151, 29, 108);
    width: 500px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    aspect-ratio: 0.5 / 0.5;
    /* Hace los cuadros perfectamente cuadrados */
}