* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    color:rgb(151, 29, 108);
}

.SATC {
    font-size: 200px;
    color: rgb(0, 0, 0);
    ;
}

img{
    display:inline;
}