h1{
    display: none;
}

h2 {
    color:
        rgb(151, 29, 108);
}

.columnas {
  display: flex;
  justify-content: space-between;
}

.tarjeta {
  flex: 1;
  max-width: 9000px;
}

button{
    font-size:medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(216, 195, 208);
    /*border: 1.5px solid #ba1385;*/
    /*border-radius: 15px;*/
}


[popover] {
  position: fixed;            
  inset: 10%;                  
  max-width: 80vw;             
  max-height: 80vh;            
  overflow-y: auto;            
  background:  rgb(200, 174, 192);
  border: 2px solid #ba1385;
  border-radius: 10px;
  padding: 1rem;
}

[popover] h3 {
  margin-top: 1rem;
  font-size: 1rem;
}

[popover] p {
  line-height: 1.4;
}

