h1{
    display: none;
}

h2 {
    color:
        rgb(151, 29, 108);
}

.popover {
  max-width: 90%;
  width: auto;             
  word-wrap: break-word;     
  } 

  .popover-body {
  max-height: 80%;           /* no supera el 80% del alto de la pantalla */
  overflow-y: auto;           /* agrega scroll si el contenido es largo */
  padding: 1rem;
}