h1{
    display: none;
}

h2 {
    color:
        rgb(151, 29, 108);
}

.popover {
  max-width: 90vw;
  width: auto;             
  word-wrap: break-word;     
  } 

.popover-body {
  max-height: 80vh;         
  overflow-y: auto;           
  padding: 1rem;
}